Create_Project_Directory.cmd
Hardware/Gerbers/OSH_Park_Script.bat
SKU's.xlsx
Schematic_Component_Setup_Time_Study.xlsx
Work Log - BlueGiga_BLE112_XBee_Module.xlsx
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-B_Cu.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-B_Mask.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-B_Paste.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-B_SilkS.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-Dwgs_User.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-Edge_Cuts.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-F_Cu.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-F_Mask.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-F_Paste.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-F_SilkS.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-In1_Cu.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-In2_Cu.pdf
Hardware/Drawing/BlueGiga_BLE112-IO_XBee_Module-drl_map.pdf
Hardware/KiCAD_Project_Files/report.txt
